
    <div class="menu_container">
        <!-- profile_wrap -->
        <div class="profile_wrap">  <!-- 로그인 안된경우 logout 클래스 추가-->
            <div class="user_wrap">
                <div class="image"><img src="" alt=""></div>
                <div class="desc_wrap">
                    <p class="name">카운11셀러</p>
                    <p class="id">(songjing)</p>
                </div>
                <div class="logout_wrap">
                    <a href="javascript:void(0)">로그인 하세요.</a>
                </div>
            </div>

            <div class="user_stats">
                <!--<span class="logout_msg"><a href="javascript:void(0)">로그인하고 지금 사용 가능한 혜택을 확인하세요!</a></span>   <!-- 로그아웃일 경우 사용 -->
                <span>쿠폰<a href="javascript:void(0)">10</a></span>
                <span>O’포인트<a class="point" href="javascript:void(0)">1,000</a></span>
                <span><a href="javascript:void(0)">마이페이지<img src="/image/mobile/ico/ic-arrow-right-l.png"></a></span>
            </div>
        </div>
        <!-- //profile_wrap -->

        <div class="all_alarm_btns">
            <button type="button" class="all_alarm on"><img src="/image/mobile/ico/ic-alarm-black.png" alt="알림"></button>
            <button type="button" class="all_setting"><img src="/image/mobile/ico/ic-setting-black.png" alt="설정"></button>
            <button type="button" class="all_closer"><img src="/image/mobile/ico/ic-close-black.png" alt="닫기"></button>
        </div>

        <!-- scroller_wrap -->
        <div class="scroller_wrap"> <!-- 로그인 안된경우 logout 클래스 추가-->
            <!-- inner_container -->
            <div class="inner_container">
                <h2 class="m_tit first">
                    <span>즐겨찾는<br>카테고리</span>
                    <span class="logout_msg">인기<br>카테고리</span>
                    <a href="javascript:showAllCategory()" class="all_category">전체 카테고리 ></a>
                </h2>
                <!-- list -->
                <div class="h_category">
                    <ul>
                        <li><a href="javascript:void(0)">디자인</a></li>
                        <li><a href="javascript:void(0)">마케팅</a></li>
                        <li><a href="javascript:void(0)">번역</a></li>
                        <li><a href="javascript:void(0)">비즈니스문서</a></li>
                        <li><a href="javascript:void(0)">창작/작문</a></li>
                        <li><a href="javascript:void(0)">음악/더빙</a></li>
                        <li><a href="javascript:void(0)">영상/애니</a></li>
                        <li><a href="javascript:void(0)">IT개발</a></li>
                        <li><a href="javascript:void(0)">번역</a></li>
                        <li><a href="javascript:void(0)">오더잡</a></li>
                        <li><a href="javascript:void(0)">전문가컨설팅</a></li>
                        <li><a href="javascript:void(0)">운세/상담</a></li>
                        <li><a href="javascript:void(0)">생활서비스</a></li>
                        <li><a href="javascript:void(0)">레슨</a></li>
                        <li><a href="javascript:showBookmarkEdit();" class="category_edit">즐겨찾기편집</a></li>
                    </ul>
                    <ul class="logout_wrap">
                        <li><a href="javascript:void(0)">디자인</a></li>
                        <li><a href="javascript:void(0)">마케팅</a></li>
                        <li><a href="javascript:void(0)">번역</a></li>
                        <li><a href="javascript:void(0)">비즈니스문서</a></li>
                        <li><a href="javascript:void(0)">창작/작문</a></li>
                        <li><a href="javascript:void(0)">음악/더빙</a></li>
                        <li><a href="javascript:void(0)">영상/애니</a></li>
                        <li><a href="javascript:void(0)">IT개발</a></li>
                    </ul>
                </div>
                <!-- //list -->
                <h2 class="m_tit">찜한상품</h2>

                <div class="horizon_scroller05 dibs_contents">
                    <ul>
                        <div class="slick-wrapper">
                            <li class="">
                                <div class="in_wrap">
                                    <a href="javascript:void(0)">
                                        <div class="image">
                                            <span><img src="/image/mobile/temp/@product1.png" alt=""></span>
                                        </div>
                                        <div class="cont_info">
                                            <h3 class="item_tit">[디자인] 심플, 모던한 로고(CI,BI) 디자인</h3>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li class="">
                                <div class="in_wrap">
                                    <a href="javascript:void(0)">
                                        <div class="image">
                                            <span><img src="/image/mobile/temp/@product1.png" alt=""></span>
                                        </div>
                                        <div class="cont_info">
                                            <h3 class="item_tit">[디자인] 심플, 모던한 로고(CI,BI) 디자인</h3>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li class="">
                                <div class="in_wrap">
                                    <a href="javascript:void(0)">
                                        <div class="image">
                                            <span><img src="/image/mobile/temp/@product1.png" alt=""></span>
                                        </div>
                                        <div class="cont_info">
                                            <h3 class="item_tit">[디자인] 심플, 모던한 로고(CI,BI) 디자인</h3>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li class="">
                                <div class="in_wrap">
                                    <a href="javascript:void(0)">
                                        <div class="image">
                                            <span><img src="/image/mobile/temp/@product1.png" alt=""></span>
                                        </div>
                                        <div class="cont_info">
                                            <h3 class="item_tit">[디자인] 심플, 모던한 로고(CI,BI) 디자인</h3>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li class="">
                                <div class="in_wrap">
                                    <a href="javascript:void(0)">
                                        <div class="image">
                                            <span><img src="/image/mobile/temp/@product1.png" alt=""></span>
                                        </div>
                                        <div class="cont_info">
                                            <h3 class="item_tit">[디자인] 심플, 모던한 로고(CI,BI) 디자인</h3>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li class="">
                                <div class="in_wrap">
                                    <a href="javascript:void(0)">
                                        <div class="image">
                                            <span><img src="/image/mobile/temp/@product1.png" alt=""></span>
                                        </div>
                                        <div class="cont_info">
                                            <h3 class="item_tit">[디자인] 심플, 모던한 로고(CI,BI) 디자인</h3>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li class="">
                                <div class="in_wrap">
                                    <a href="javascript:void(0)">
                                        <div class="image">
                                            <span><img src="/image/mobile/temp/@product1.png" alt=""></span>
                                        </div>
                                        <div class="cont_info">
                                            <h3 class="item_tit">[디자인] 심플, 모던한 로고(CI,BI) 디자인</h3>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li class="">
                                <div class="in_wrap">
                                    <a href="javascript:void(0)">
                                        <div class="image">
                                            <span><img src="/image/mobile/temp/@product1.png" alt=""></span>
                                        </div>
                                        <div class="cont_info">
                                            <h3 class="item_tit">[디자인] 심플, 모던한 로고(CI,BI) 디자인</h3>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li class="">
                                <div class="in_wrap">
                                    <a href="javascript:void(0)">
                                        <div class="image">
                                            <span><img src="/image/mobile/temp/@product1.png" alt=""></span>
                                        </div>
                                        <div class="cont_info">
                                            <h3 class="item_tit">[디자인] 심플, 모던한 로고(CI,BI) 디자인</h3>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li class="">
                                <div class="in_wrap">
                                    <a href="javascript:void(0)">
                                        <div class="image">
                                            <span><img src="/image/mobile/temp/@product1.png" alt=""></span>
                                        </div>
                                        <div class="cont_info">
                                            <h3 class="item_tit">[디자인] 심플, 모던한 로고(CI,BI) 디자인</h3>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li class="">
                                <div class="in_wrap">
                                    <a href="javascript:void(0)">
                                        <div class="image">
                                            <span><img src="/image/mobile/temp/@product1.png" alt=""></span>
                                        </div>
                                        <div class="cont_info">
                                            <h3 class="item_tit">[디자인] 심플, 모던한 로고(CI,BI) 디자인</h3>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li class="">
                                <div class="in_wrap">
                                    <a href="javascript:void(0)">
                                        <div class="image">
                                            <span><img src="/image/mobile/temp/@product1.png" alt=""></span>
                                        </div>
                                        <div class="cont_info">
                                            <h3 class="item_tit">[디자인] 심플, 모던한 로고(CI,BI) 디자인</h3>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li class="">
                                <div class="in_wrap">
                                    <a href="javascript:void(0)">
                                        <div class="image">
                                            <span><img src="/image/mobile/temp/@product1.png" alt=""></span>
                                        </div>
                                        <div class="cont_info">
                                            <h3 class="item_tit">[디자인] 심플, 모던한 로고(CI,BI) 디자인</h3>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li class="">
                                <div class="in_wrap">
                                    <a href="javascript:void(0)">
                                        <div class="image">
                                            <span><img src="/image/mobile/temp/@product1.png" alt=""></span>
                                        </div>
                                        <div class="cont_info">
                                            <h3 class="item_tit">[디자인] 심플, 모던한 로고(CI,BI) 디자인</h3>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li class="">
                                <div class="in_wrap">
                                    <a href="javascript:void(0)">
                                        <div class="image">
                                            <span><img src="/image/mobile/temp/@product1.png" alt=""></span>
                                        </div>
                                        <div class="cont_info">
                                            <h3 class="item_tit">[디자인] 심플, 모던한 로고(CI,BI) 디자인</h3>
                                        </div>
                                    </a>
                                </div>
                            </li>
                        </div>

                    </ul>
                </div>
<!--
                &lt;!&ndash; list_type &ndash;&gt;
                <div class="sitemap_banner_slide dibs_contents contents_slide">
                    <ul class="item">
                        <li class="in_wrap">
                            <div class="image"><a href="#"><img src="/image/mobile/temp/@product1.png" alt=""></a></div>
                            <a href="#" class="item_tit"><h3>[디자인] 심플, 모던한 로고(CI,BI) 디자인sdfsadsdaaaaaaaaaaaaaaaaaaaassdd</h3></a>
                        </li>
                        <li class="in_wrap">
                            <div class="image"><a href="#"><img src="/image/mobile/temp/@product1.png" alt=""></a></div>
                            <a href="#" class="item_tit"><h3>[디자인] 심플, 모던한 로고(111CI,BI) 디자인</h3></a>
                        </li>
                        <li class="in_wrap">
                            <div class="image"><a href="#"><img src="/image/mobile/temp/@product1.png" alt=""></a></div>
                            <a href="#" class="item_tit"><h3>[디자인] 심플, 모던한 11(CI,BI) 디자인</h3></a>
                        </li>
                        <li class="in_wrap">
                            <div class="image"><a href="#"><img src="/image/mobile/temp/@product1.png" alt=""></a></div>
                            <a href="#" class="item_tit"><h3>[디자인] 심플, 모던한1111 로고(CI,BI) 디자인</h3></a>
                        </li>
                    </ul>
                </div>- -->
                <!-- //list_type -->

                <div class="main_links">
                    <button class="orderjob_link">오더하기</button>
                    <button class="otwojob_link">재능등록</button>
                </div>

                <div class="etc_links">
                    <ul>
                        <li><a href="#" class="menu01">오투잡 이용가이드</a></li>
                        <li><a href="#" class="menu02">오더잡 이용가이드</a></li>
                        <li><a href="#" class="menu03">FAQ</a></li>
                        <li><a href="#" class="menu04">공지사항</a></li>
                        <li><a href="#" class="menu05">나의 문의내역</a></li>
                        <li><a href="#" class="menu06">로그아웃</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="bookmark_categories">
        <div class="bookmark_close">
            <button type="button" onclick="closeBookmarkEdit()"><img src="/image/mobile/message/ic_close.png"></button>
        </div>
        <label>
            즐겨찾는 카테고리<br>설정
        </label>
        <div class="inner_container">
            <ul>
                <li><div class="c_bookmark_chkbox"><input type="checkbox" id="bookmark_11" name="c_bookmark"><label for="bookmark_11">디자인</label></div></li>
                <li><div class="c_bookmark_chkbox"><input type="checkbox" id="bookmark_13" name="c_bookmark"><label for="bookmark_13">마케팅</label></div></li>
                <li><div class="c_bookmark_chkbox"><input type="checkbox" id="bookmark_10" name="c_bookmark"><label for="bookmark_10">번역</label></div></li>
                <li><div class="c_bookmark_chkbox"><input type="checkbox" id="bookmark_12" name="c_bookmark"><label for="bookmark_12">비즈니스문서</label></div></li>

                <li><div class="c_bookmark_chkbox"><input type="checkbox" id="bookmark_23" name="c_bookmark"><label for="bookmark_23">창작/작문</label></div></li>
                <li><div class="c_bookmark_chkbox"><input type="checkbox" id="bookmark_14" name="c_bookmark"><label for="bookmark_14">음악/더빙</label></div></li>
                <li><div class="c_bookmark_chkbox"><input type="checkbox" id="bookmark_25" name="c_bookmark"><label for="bookmark_25">영상/애니</label></div></li>
                <li><div class="c_bookmark_chkbox"><input type="checkbox" id="bookmark_15" name="c_bookmark"><label for="bookmark_15">IT개발</label></div></li>

                <li><div class="c_bookmark_chkbox"><input type="checkbox" id="bookmark_17" name="c_bookmark"><label for="bookmark_17">전문가컨설팅</label></div></li>
                <li><div class="c_bookmark_chkbox"><input type="checkbox" id="bookmark_18" name="c_bookmark"><label for="bookmark_18">운세/상담</label></div></li>
                <li><div class="c_bookmark_chkbox"><input type="checkbox" id="bookmark_16" name="c_bookmark"><label for="bookmark_16">생활서비스</label></div></li>
                <li><div class="c_bookmark_chkbox"><input type="checkbox" id="bookmark_26" name="c_bookmark"><label for="bookmark_26">핸드메이드</label></div></li>

                <li><div class="c_bookmark_chkbox"><input type="checkbox" id="bookmark_21" name="c_bookmark"><label for="bookmark_21">여행플랜</label></div></li>
                <li><div class="c_bookmark_chkbox"><input type="checkbox" id="bookmark_27" name="c_bookmark"><label for="bookmark_27">레슨</label></div></li>
                <li><div class="c_bookmark_chkbox"><input type="checkbox" id="bookmark_19" name="c_bookmark"><label for="bookmark_19">행사/이벤트</label></div></li>
                <li><div class="c_bookmark_chkbox"><input type="checkbox" id="bookmark_22" name="c_bookmark"><label for="bookmark_22">무료재능</label></div></li>
            </ul>
        </div>

        <button class="edit_submit">설정완료</button>

    </div>