<div class="btn_top"><span><em class="blind">TOP</em></span></div>
<!-- 판매자 버전 -->
    <div class="item_wrap">
        <div class="item item01">
            <a href="#">
                <span class="image"></span>
                <span class="txt">홈</span>
            </a>
        </div>
        <div class="item item02"> <!-- 신규 알림 시 class='on' 추가 -->
            <a href="#">
                <span class="image"></span>
                <span class="txt">톡톡</span>
            </a>
        </div>
        <div class="item item03_1">
            <a href="javascript:showSiteMap();">
                <span class="image"></span>
                <span class="txt">카테고리</span>
            </a>
        </div>
        <div class="item item04"> <!-- 신규 메시지 시 class='on' 추가 -->
            <a href="#">
                <span class="image"></span>
                <span class="txt">마이</span>
            </a>
        </div>
        <div class="item item05_1">
            <a href="#">
                <span class="image"><img src="//images.otwojob.com/product/q/V/3/qV3tKwmrlFBk2Iy.png/o2j/resize/307x225>"></span>
                <span class="txt">최근본</span>
            </a>
        </div>
    </div>


<!-- 구매자 기존
    <div class="item_wrap">
        <div class="item item01">
            <a href="#">
                <span class="image"></span>
                <span class="txt">홈</span>
            </a>
        </div>
        <div class="item item02 on">
            <a href="#">
                <span class="image"></span>
                <span class="txt">알림</span>
            </a>
        </div>
        <div class="item item03">
            <a href="#">
                <span class="image"></span>
                <span class="txt">마이페이지</span>
            </a>
        </div>
        <div class="item item04 on">
            <a href="#">
                <span class="image"></span>
                <span class="txt">메시지</span>
            </a>
        </div>
        <div class="item item05">
            <a href="#">
                <span class="image"></span>
                <span class="txt">오더잡</span>
            </a>
        </div>
    </div>
-->
