    <div class="inner_container">
        <ul class="utils no_border">
            <li><a href="#">로그인</a></li>
            <li><a href="#">고객센터</a></li>
        </ul>
        <ul class="utils">
            <li><a href="#">사업자정보확인</a></li>
            <li><a href="#">이용약관</a></li>
            <li><a href="#">개인정보처리방침</a></li>
        </ul>
        <button type="button" class="more_infos" onclick="toggleFooterInfos(this);"><span class="bul">(주)사람인HR 사업자정보</span></button>
        <div class="infos_txt">
            <p class="line">㈜ 사람인 | 대표 : 김용환 | 대표전화 : 09-2025-2707</p>
            <p class="line">주소 : 서울 구로구 디지털로34길 43  코오롱싸이언스밸리 1차 201호 (구로동) | 이메일 <a href="javascript:void(0)" class="address">otwojob@saramin.co.kr</a></p>
            <p class="line">사업자등록번호 : 113-86—0917 | 호스팅 서비스  Amazon Web Service(AWS)</p>
            <p class="line"> 통신판매업 : 제 2339호 | 직업정보제공사업 : 서울 관악 제 2005-6호</p>
        </div>
    </div>
