<!-- gnb -->
<nav class="" id="gnb">
    <div class="list">
        <div class="in_wrap">
            <ul>
                <li id="gnb_menu00"><a href="#" class="on">디자인 전체</a></li>
                <li id="gnb_menu01"><a href="#">배너/상세페이지</a></li>
                <li id="gnb_menu02"><a href="#">웹디자인</a></li>
                <li id="gnb_menu03"><a href="#">블로그/카페</a></li>
                <li id="gnb_menu04"><a href="#">로고/CI&amp;BI</a></li>
                <li id="gnb_menu05"><a href="#">캘리그라피</a></li>
                <li id="gnb_menu06"><a href="#">전단지/홍보물</a></li>
                <li id="gnb_menu07"><a href="#">명함일러스트</a></li>
                <li id="gnb_menu08"><a href="#">캐리커쳐/인물</a></li>
                <li id="gnb_menu09"><a href="#">만화/웹툰</a></li>
                <li id="gnb_menu10"><a href="#">캐릭터/아이콘</a></li>
                <li id="gnb_menu11"><a href="#">인도네시아어번역</a></li>
                <li id="gnb_menu12"><a href="#">인테리어/3D</a></li>
                <li id="gnb_menu13"><a href="#">PPT디자인</a></li>
                <li id="gnb_menu14"><a href="#">포토샵/보정</a></li>
                <li id="gnb_menu15"><a href="#">사진촬영</a></li>
                <li id="gnb_menu16"><a href="#">누끼작업</a></li>
                <li id="gnb_menu17"><a href="#">이미지 변환</a></li>
                <li id="gnb_menu18"><a href="#">기타</a></li>
            </ul>
        </div>
    </div>
    <button type="button" class="opener hide">모두 보기</button>
</nav>
<!-- //gnb -->
