<!-- gnb -->
<nav class="gnb" id="gnb">
    <div class="list">
        <h2 class="tit">카테고리 바로가기</h2>
        <div class="in_wrap">
            <ul>
                <li id="gnb_menu01"><a href="#">디자인</a></li>
                <li id="gnb_menu02"><a href="#">번역</a></li>
                <li id="gnb_menu03"><a href="#">문서작성</a></li>
                <li id="gnb_menu04"><a href="#">마케팅</a></li>
                <li id="gnb_menu05"><a href="#">음악/동영상</a></li>
                <li id="gnb_menu06"><a href="#">비즈니스</a></li>
                <li id="gnb_menu07"><a href="#">노하우/상담</a></li>
                <li id="gnb_menu08"><a href="#">생활서비스</a></li>
                <li id="gnb_menu09"><a href="#">음악/동영상</a></li>
                <li id="gnb_menu10"><a href="#">여행</a></li>
            </ul>
        </div>
        <div class="ads">
            <a href="#">
                <span class="btn">오더잡</span>
                <span class="txt">재능이 필요할 땐 <span class="color1">오더</span>하자!</span>
            </a>
        </div>
    </div>
    <button type="button" class="opener">모두 보기</button>
</nav>
<!-- //gnb -->
