
<div class="item_wrap">
    <div class="item item01">
        <a href="#">
            <span class="image"></span>
            <span class="txt">홈</span>
        </a>
    </div>
    <div class="item item02">
        <a href="#">
            <span class="image"></span>
            <span class="txt">알림</span>
        </a>
    </div>
    <div class="item item03">
        <a href="#">
            <span class="image"></span>
            <span class="txt">마이페이지</span>
        </a>
    </div>
    <div class="item item04">
        <a href="#">
            <span class="image"></span>
            <span class="txt">메시지</span>
        </a>
    </div>
    <div class="item item05">
        <a href="#">
            <span class="image"></span>
            <span class="txt">오더잡</span>
        </a>
    </div>
</div>