    <h1 class="blind">OTWOJOB</h1>

    <div class="defalt_area">
        <h2>하비마스터</h2>
        <button type="button" class="btn_back">뒤로가기</button>
        <!--<button type="button" class="btn_setting">설정</button>-->
        <button type="button" class="btn_search">검색</button>
        <button type="button" class="btn_shop" onclick="layerPop.init('msg_shop', 'full');">샵</button>
        <button type="button" class="btn_home" onclick="void(0)">홈</button>
    </div>

    <!-- 검색 시 노출 -->
    <div class="search_area">
        <h2><input type="text" placeholder="대화 내용 검색"></h2>
        <button type="button" class="btn_search">검색</button>
        <button type="button" class="btn_close">닫기</button>
    </div>
