<!-- gnb -->
<nav class="t_gnb">
    <div class="list">
        <h2 class="tit">카테고리 바로가기</h2>
        <div class="in_wrap">
            <ul>
                <li id="gnb_menu01"><a href="#">홈</a></li>
                <li id="gnb_menu02"><a href="#">랭킹</a></li>
                <li id="gnb_menu03"><a href="#">多능</a></li>
                <li id="gnb_menu04"><a href="#">무료재능</a></li>
                <li id="gnb_menu05"><a href="#">오더잡</a></li>
                <li id="gnb_menu06" class="selected"><a href="#">이벤트·기획전</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- //gnb -->
